.card-wrapper {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
  }

.marquee-inner-wrapper img {
  display: block;
  max-width: 100%;
  max-height: 60px;
  margin: 0 auto;
  object-fit: contain;
}

.marquee-inner-wrapper .mx-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}